{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omzhana Store</title>
    {% comment %} <link rel="stylesheet" href="{% static 'store/css/base.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="/static/store/css/base.css">

</head>

<body id="store-body" class="store-body">
    <header class="header-container">
        <div class="header-content">
            <h1>
                <a href="">Store</a>
            </h1>

            <button class="header-btn" id="cart-btn"> Cart </button>
            <button class="header-btn" id="checkout-btn"> Checkout </button>
        </div>
    </header>

</body>
</html>